[submodule "system"]
	path = system
	url = git://github.com/kohana/core.git
[submodule "modules/database"]
	path = modules/database
	url = git://github.com/kohana/database.git
[submodule "modules/image"]
	path = modules/image
	url = git://github.com/kohana/image.git
[submodule "modules/orm"]
	path = modules/orm
	url = git://github.com/kohana/orm.git
[submodule "modules/oauth"]
	path = modules/oauth
	url = git://github.com/kohana/oauth.git
[submodule "modules/pagination"]
	path = modules/pagination
	url = git://github.com/kohana/pagination.git
[submodule "modules/ckeditor"]
	path = modules/ckeditor
	url = git://github.com/kohana/database.git
[submodule "modules/editor"]
	path = modules/editor
	url = git://github.com/biakaveron/editor.git
[submodule "modules/haml"]
	path = modules/haml
	url = git://github.com/fredwu/kohana-phamlp.git
