# Turn on URL rewriting
RewriteEngine On

# Installation directory
# RewriteBase /

# Protect hidden files from being viewed
<Files .*>
	Order Deny,Allow
	Deny From All
</Files>

# Protect application and system files from being viewed
RewriteRule ^(?:application|modules|system)\b.* index.php/$0 [L]

# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other URLs to index.php/URL
RewriteRule .* index.php/$0 [PT]

AddType application/x-javascript .js
AddType text/css .css
AddType text/xml .xml

php_value memory_limit 999M
php_value max_execution_time 0
php_value max_input_time 0
php_value upload_max_filesize 999M
php_value post_max_size 999M
php_value error_reporting 6143
